<div class="container elevation-border mt-5 px-5">
  <form class="row py-4">
    <h4 class="mt-5 text-uppercase px-5">Acceder</h4>
    <div class="row mb-3 mt-5 px-5">
      <label for="staticEmail" class="col-4 col-form-label text-uppercase">E-mail:</label>
      <div class="col-8">
        <input type="text" readonly class="form-control-plaintext input-underline" id="staticEmail" value="">
      </div>
    </div>
    <div class="row mb-3 mt-5 px-5">
      <label for="inputPassword" class="col-4 col-form-label text-uppercase">Contraseña:</label>
      <div class="col-8">
        <input type="password" class="form-control" id="inputPassword">
      </div>
    </div>
    <div class="row">
      <a href="#" class="col-12 offset-0 col-lg-6 offset-6 col-form-label nav-link text-uppercase text-gray-two text-decoration-underline">Olvidé mi contraseña</a>
    </div>
    <!-- <div class="mb-3 mt-5">
    </div> -->
      <div class="row mb-3 mt-5">
        <div class="col-12 col-lg-6 py-2 d-flex justify-content-lg-end d-sm-grid">
          <button type="submit" class="btn btn-gray">iniciar sesión</button>
        </div>
        <div class="col-12 col-lg-6 py-2 d-flex justify-content-lg-start d-sm-grid">
          <button type="submit" class="btn btn-orange">Registrarse</button>
        </div>
      </div>
  </form>
</div>


