@import 'src/_var.scss';

.elevation-border {
  background-clip: border-box;
  border: 1px solid #F4F4F4;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);

}

input {
  width: 100%;
  background-color: #fcfcfc;
  border: 0;
  border-bottom: 2px solid lightgrey;

}
.d-content {
  display: contents;
}
.text-gray-two {
  color:$color-strong-gray-two;
}

/*@media (max-width: 989px) {
.d-content {
  display: flex;
  justify-content: center;
}
  }
*/
