
<nav class="navbar navbar-expand-lg navbar-light bg-light-gray">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img  src="../../assets/img/logo-garfit.png" height="65px" alt="garfit"/>
        GAR<strong>FIT</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-lg-end bg-light-gray" id="navbarNav" >
      <ul class="d-none d-lg-flex navbar-nav text-uppercase flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
        <li class="nav-item text-center">
          <a class="nav-link active" aria-current="page" href="#">
            <img  class="" src="../../assets/img/icono_inicio.png" height="45px" alt="garfit"/>
            <div class="py-1">
              Inicio
            </div>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_nosotros.png" height="45px" alt="garfit"/>
            <div class="py-1">
              Nosotros
            </div>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_contacto.png" height="45px" alt="garfit"/>
            <div class="py-1">
              Contacto
            </div>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_blog.png" height="45px" alt="garfit"/>
            <div class="py-1">
              Blog
            </div>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_faq.png" height="45px" alt="garfit"/>
            <div class="py-1">
              Preg Frec
            </div>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_terminos.png" height="45px" alt="garfit"/>
            <div class="py-1">
              Term y cond
            </div>
          </a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_logout.png" height="45px" alt="garfit"/>
            <div class="py-1">
              salir
            </div>
          </a>
        </li>
      </ul>
      <! -- start nav mobile -->
      <ul class="d-lg-none navbar-nav text-uppercase bd-navbar-nav pt-2 py-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <img  class="" src="../../assets/img/icono_inicio.png" height="45px" alt="garfit"/>
            <div class="d-inline-block px-3">
              Inicio
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_nosotros.png" height="45px" alt="garfit"/>
            <div class="d-inline-block px-3">
              Nosotros
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_contacto.png" height="45px" alt="garfit"/>
            <div class="d-inline-block px-3">
              Contacto
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_blog.png" height="45px" alt="garfit"/>
            <div class="d-inline-block px-3">
              Blog
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_faq.png" height="45px" alt="garfit"/>
            <div class="d-inline-block px-3">
              Preg Frec
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_terminos.png" height="45px" alt="garfit"/>
            <div class="d-inline-block px-3">
              Term y cond
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img  class="" src="../../assets/img/icono_logout.png" height="45px" alt="garfit"/>
            <div class="d-inline-block px-3">
              salir
            </div>
          </a>
        </li>
      </ul>
      <! -- end nav mobile -->
    </div>
  </div>
</nav>
