
$font-family-basic: 'Open Sans', sans-serif;
$color-aqua:#E4EDF3;
$color-blue:#10448B;
$color-gray:#545454;
$color-light-blue:#408BC7;
$color-light-gray:#F7F7F7;
$color-light-orange:#FEF6E3;
$color-opacity-blue:#4D548A;
$color-strong-blue:#004AAD;
$color-opacity-strong-blue:#26367E;
$color-strong-gray:#A6A6A6;
$color-strong-gray-two:#767473;
$color-strong-orange:#F89F35;
$color-orange:#E08C4F;
$color-white:#ffffff;


%btn-basic {
  color:#FFFFFF;
}

.btn-orange {
  @extend %btn-basic;
  background-color:$color-orange;
}
.btn-gray {
  @extend %btn-basic;
  background-color:$color-gray;
}
.btn-blue {
  @extend %btn-basic;
  background-color: $color-blue;
}
