<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mt-5 d-flex flex-column justify-content-center
                align-items-center bg-opacity-strong-blue elevation-border">
        <div class="row">
          <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center align-items-center">
              <img  class="" src="../../assets/img/logo-garfit.png" height="300px" />
            </div>
            <div>
              <h1 class="col-12 text-center text-white mt-3 text-logo">
                GAR<strong>FIT</strong><br/></h1>
            </div>
            <div>
              <h2 class="text-uppercase text-white mt-3">Plataforma Empresas</h2>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mt-5 elevation-border px-5">
      <h4 class="text-uppercase mt-5 text-bold">Formulario de contacto</h4>
      <form class="text-uppercase mt-5">
        <div class="row mb-3">
          <label for="name" class="col-12 col-lg-3 col-form-label">Nombre</label>
          <div class="col-12 col-lg-9">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="row mb-3">
          <label for="lastname" class="col-12 col-lg-3 col-form-label">Apellido</label>
          <div class="col-12 col-lg-9">
            <input type="text" class="form-control" id="lastname">
          </div>
        </div>
        <div class="row mb-3">
          <label for="companyname" class="col-12 col-lg-3 col-form-label">Razón social</label>
          <div class="col-12 col-lg-9">
            <input type="text" class="form-control" id="companyname">
          </div>
        </div>
        <div class="row mb-3">
          <label for="brand" class="col-12 col-lg-3 col-form-label">Marca</label>
          <div class="col-12 col-lg-9">
            <input type="text" class="form-control" id="brand">
          </div>
        </div>
        <div class="row mb-3">
          <label for="website" class="col-12 col-lg-3 col-form-label">Sitio Web</label>
          <div class="col-12 col-lg-9">
            <input type="text" class="form-control" id="website">
          </div>
        </div>
        <div class="row mb-3">
          <label for="phone" class="col-12 col-lg-3 col-form-label">Teléfono</label>
          <div class="col-12 col-lg-9">
            <input type="number" class="form-control" id="phone">
          </div>
        </div>
        <div class="row mb-3">
          <label for="email" class="col-12 col-lg-3 col-form-label">Mail</label>
          <div class="col-12 col-lg-9">
            <input type="email" class="form-control" id="email">
          </div>
        </div>
        <div class="d-flex justify-content-lg-end justify-content-center py-3">
          <!-- <button type="submit" class="btn btn-blue text-uppercase d-grid gap-2">Enviar</button> -->
          <button type="submit" class="btn btn-blue text-uppercase d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-plus-lg mx-2" viewBox="0 0 16 16">
              <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
            </svg>
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


