<div class="container-fluid bg-light-orange height-scroll">
  <div class="row py-5">
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="media-content-img" src="../../assets/img/logo-garfit.png" height="400px" />
      </div>
    </div>
   <div class="col-12 col-lg-4 mt-3 py-3 w-50 media-content">
     <h1 class="text-uppercase mt-5 mt-3 py-3 text-orange-strong">Gracias</h1>
     <p class="text-gray-two fst-italic w-50 text-center media-content">por ponerte en contacto con
       <span class="text-gray-two text-logo">GAR<strong>FIT</strong></span>
     </p>
     <div class="mt-3 py-3 d-flex justify-content-center align-items-center w-50 media-content">
       <img class="" src="../../assets/img/logo-garfit.png" height="60px" />
     </div>
     <p class="text-gray-two text-center mt-3 w-50 media-content">A la brevedad estarás recibiendo <br/>información sobre:</p>
     <hr class="line-orange text-orange-strong w-50 text-center media-content">
     <ul class="text-uppercase navbar-nav text-center text-gray-two fw-bolder py-3 w-50 media-content">
       <li class="nav-item">Servicios</li>
       <li>Beneficios</li>
       <li>Integracion</li>
       <li>Planes</li>
     </ul>

     <hr class="line-orange text-orange-strong w-50 text-center media-content">
   </div>
  </div>
</div>



